@charset "utf-8";
/* CSS Document */

.navbar-principal{
	margin: 0;
	border: none;
	background: #eeeeee;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;	
}

.navbar-principal .menu-principal > li > a{
	padding: 10px 15px;
	color: #737276;	
}

.navbar-principal .menu-principal > li > a:hover,
.navbar-principal .menu-principal > li > a:focus,
.navbar-principal .menu-principal > .active > a, .navbar-principal .menu-principal > .active > a:focus{
	color: #00903d;
	background: none;	
}

.navbar-principal .menu-principal > .active > a:hover{
	color: #737276;			
	background: none;	
}

/* Menu Mobile */

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #00903d;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav-sidebar > li > a {
    position: relative;
    display: block;
    padding: 4px 10px;
	font-size: 15px;
    border-radius: 0px;
}

.nav-sidebar > li.active > a, 
.nav-sidebar > li.active > a:hover, 
.nav-sidebar > li.active > a:focus {
    color: #fff;
    background-color: #006a2d;
	font-weight: 400;
}
