@charset "utf-8";
/* CSS Document */

/* Fonts */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300i,400i,500i,700i,900i';

/* CSS Imports */

@import 'menu.css';
@import 'textos.css';

/* Estrutura */

body{
	font-family: "Roboto";
	font-size: 16px;
}

.header{
	padding: 15px 0;
}
.box-slide{
	padding: 0;
}
.slider img{
	margin: 0 auto;	
}

.empresas-representadas,
.sugestoes-de-formulas{
	background: #f5f4f4;
	padding: 60px 0;	
}

.noticias{
	background: #02943f;
	padding: 10px;
	min-height: 380px;	
}

.artigos-tecnicos{
	background: #006a2d;
	padding: 60px 0;	
}

.artigo{
	margin: 0 0 30px;
}

.artigo-home{
	margin: 0 0 15px;
}

.logo-peq{
	padding: 15px 30px;
	display: block;
}

.footer{
	background: #ccc;
	padding: 40px 0;
	color: #2e2e2e;
	font-size: 14px;
	font-weight: 300;
}

.footer a,
.footer a:hover{
	color: #2e2e2e;
}

.texto-empresa{
	margin-top: 25px;	
}

.copyright{
	background: #454545;
	padding: 10px 0;
	font-size: 	12px;
	font-weight: 300;
	color: #737377;	
}

.copyright p{
	margin: 0;	
}

/* Internas */

.cab-page{
	background: #11A128;
}

.seta-cab {
    background: url(../img/seta-cab-page.png) no-repeat;
    position: absolute;
    width: 24px;
    height: 12px;
    margin-top: 40px;
	margin-left: 40px;
}

.internas{
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;	
}

.internas table{
	text-align: left;
	font-size: 14px;
}

.box-quem-somos {
    background: #f1f1f1;
    padding: 30px;
}

.margin-conteudo{
	margin-top: 75px;
	margin-bottom: 50px;	
}

.box-representada{
	padding: 0 10px 30px;
	border: 1px solid #dcdcdc;
	background: #f5f4f4;
	margin-bottom: 30px;
}

.box-representada-texto{
	margin-bottom: 30px;
	min-height: 80px;
	padding: 0 10px;
}

/* Botoes */

.btn-buscar{
	background: #000;
	color: #fff;
	font-size: 24px;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	border-radius: 0;
}

.btn-focus{
	background: #00913d;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0;
	border:2px solid transparent;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn-focus:hover,
.btn-focus:focus{
	background: none;
	color: #00913d;
	border-radius: 0;
	border-color: #00913d;
}


/* Slide Representadas */

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next{
	position: absolute;
    top: 50%;
    bottom: 0;
    left: -15px;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 20px;
    color: #737276;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=90);
    opacity: .9;
}

.owl-carousel .owl-controls .owl-nav .owl-next{
	left: auto;
	right: -15px;	
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-prev:focus,
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:focus {
  color: #737276;
  text-decoration: none;
  filter: alpha(opacity=50);
  outline: 0;
  opacity: .5;
}

.cab-produtos{
	margin-bottom: 20px;
	border-bottom: 3px solid #02943f;
}

.row-produto{
	margin-bottom: 30px;
}

.box-produto{
	background: #02943f;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #02943f;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.box-produto:hover{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.box-produto a,
.box-produto a:hover,
.box-produto a:focus{
	color: #fff;
	text-decoration: none;
}

.box-produto p{
	margin: 0;
	padding: 10px 0;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.box-sugestao {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.icone-sugestao{
	margin: 0 auto;
	margin-bottom: 20px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 20px;
  line-height: 1.42857143;
  color: #006a2d;
  font-size: 13px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #006a2d;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #FFF;
  background-color: #006a2d;
  border-color: #006a2d;
}
.pagination > li > .current {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #006a2d;
  border-color: #006a2d;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}