@charset "utf-8";
/* CSS Document */



.titulo-cinza{
	margin: 0;
	color: #737276;
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;	
}

.barra-titulo-verde{
	width: 100px;
	height: 1px;
	margin: 10px auto 30px;
    background-color: #00913d;
}

.titulo-branco{
	margin: 0;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;	
}

.barra-titulo-branco{
	width: 100px;
	height: 1px;
	margin: 10px auto 30px;
    background-color: #fff;
}

.frase-representada{
	margin: 30px 0;
	font-size: 14px;
	font-weight: 500;
	color: #666767;	
}

/* Internas */

.page-header{
    margin: 40px 0 40px;
	padding: 0;
	border: none;
	min-height: 50px;
}

.page-header h1{
	margin: 0;
	color: #fff;
	font-size: 33px;
	font-weight: 300;
	text-transform: uppercase;
}

@media (max-width:375px){
	.page-header h1{
		font-size: 37px;
	}
	
}


.breadcrumb {
    padding: 15px 0 0 0;
    margin-bottom: 0;
    list-style: none;
    background: none;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
    border-radius: 0;
	text-align: left;
}

.breadcrumb > li > a{
	color: #fff;	
}

.breadcrumb > .active{
	color: #5ED813;	
}

.internas h2{
	color: #11A128;
	font-size: 26px;
	font-weight: 400;
}

.internas h3{
	color: #5ED813;
	font-size: 24px;
	font-weight: 400;
}

.frase-representada-interna,
h3.frase-representada-interna{
	margin: 30px 0;
	font-size: 18px;
	font-weight: 400;
	color: #666767;	
}

.box-representada-texto{
	font-size: 14px;
}

h3.titulo-sidebar{
	margin: 30px 0 0;
	font-size: 18px;
	font-weight: 400;
	color: #666767;	
}

.barra-sidebar{
	width: 100px;
	height: 1px;
	margin: 10px 0 30px;
    background-color: #00913d;
}

.numero-artigo{
	font-size: 18px;
	font-weight: 700;
	color: #FFF;
	margin-right: 20px;
}

.data-home{
	color: #FFF;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
}

.link-artigo{
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
}

.numero-artigo-interno{
	font-size: 18px;
	font-weight: 700;
	color: #11A128;
	margin-right: 20px;
}

.link-artigo-interno{
	font-size: 16px;
	font-weight: 400;
}

.titulo-sugestao,
.data-interna{
    text-align: center;
    line-height: 0.5;
}

.titulo-sugestao a,
.data-interna{
	font-size: 14px;
	color: #737377;
}

.numero-lateral{
	font-size: 16px;
	font-weight: 700;
	color: #11A128;
	margin-right: 10px;
}

.link-lateral{
	font-size: 14px;
	font-weight: 400;
}
